body {
    font-family: 'Gloria Hallelujah', cursive;
    background: #000;
    /* background: #337ab7; */
    color: #337ab7;
}

.game-title {
    font-size: 60px;
}

.page-title {
    font-size: 25px;
}

.actions-container {
    padding: 30px 10px;
}


.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    transition: opacity 1s;
}

.fade-leave {
    opacity: 1;
}

.fade-leave-active {
    transition: opacity 1s;
    opacity: 0;
}

.swal-footer {
    text-align: center;
}

.box {
    width: 300px;
    padding: 20px;
    border-radius: 6px; 
    box-shadow: 0px 0px 39px 4px rgba(0,0,0,0.75);
    font-size: 20px;
    background-color: #337ab7;
    color: #fff;
}